/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/****** BASE STYLES ********/

body {
    background-color: #eee;
    color: #222;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    width: 100%;
    min-width: 250px;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

figure {
    border: 2px solid #cfcacb;
    margin: 0;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #23a4cc;
}

.row {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

/***** Header Styles *****/

header {
    background-color: #ddd;
    text-align: center;
    width: 100%;
}

.header-logo {
    background-color: #222;
    width: 100%;
}

header h1 {
    color: #fff;
    font-family: 'Sansita', script;
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    border-top: solid 1px #cfcacb;
    padding: 20px 0;
}

nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #ff1256 ;
}

/***** Main Styles *****/

main {
    margin: 0 3%;
    width: 94%;
    
}

.hero-img {
    margin-top: 15px;
    
    width: 100%;
    height: auto;
}

.hero-area {
    border-bottom: solid 1px #cfcacb;
}

.hero-area h1 {
    font-size: 1.3125em;
}

.hero-area p {
    font-size: .875em;
}

/***** Sidebar Styles *****/

aside h1 {
    font-size: 1em;
    font-weight: bold;
}

input {
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    height: 45px;
    margin-bottom: 5px;
    width: 100%;
}

.btn {
    background-color: #ff1256;
    border: none;
    box-shadow: 2px 3px #d19aaa;
    color: #fff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
    .btn:hover{
        background-color: #b21e49;
        color: #fff;
    }

.aside-newsletter {
    padding-bottom: 20px;
}

.aside-concerts, .aside-faq {
    display: none;
}

/***** Feed Styles *****/

.feed {
    border-top: 1px solid #cfcacb;
}

.feed h2 {
    font-size: 1em;
    font-weight: bold;
}

.feed h3 {
    font-size: 0.625em;
    font-weight: bolder;
    text-transform: uppercase;
}

.feed figure {
    float: left;
    margin-right: 5%;
    width: 45%;
    height: auto;
}

.feed h1 {
    font-size: 1em;
    line-height: 1em;
}

.feed p {
    display: none;
}

.feed-item {
    border-bottom: 1px solid #cfcacb;
    padding-bottom: 20px;
}

/***** Footer Styles *****/

footer {
    text-align: center;
    width: 100%;
}

.footer-logo {
    background-color: #222;
    margin: 15px auto 0;
    width: 210px;
}

.footer-logo h1 {
    color: #fff;
    font-family: 'Sansita', sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    margin: auto;
    padding-bottom: 10px;
}


/***** DETAIL PAGES *****/

.header-logo a {
    color: #fff;
}

/***** About Page Styles *****/

.contact-info h1, .mission-statement h1 {
    padding-top: 20px;
}

.contact-info h1, .mission-statement h1, .team h1 {
    font-size: 1.3125em;
}

.mission-statement p {
    font-size: .875em;
}

.team h1 {
    margin-bottom: 35px;
}

.team h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.team h3 {
    font-size: .875em;
    font-weight: normal;
    margin-top: 0;
}

.contact-info span {
    font-weight: bold;
}

.maps { /* Figure out the responsive iframe for map */
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.team figure {
    width: 100%;
    height: auto;
}

.bio-info {
    padding-left: 10%;
}

.team p {
    display: none;
}

.team-bio {
    padding-bottom: 20px;
}

.team {
    padding-bottom: 140px;
}

/*** FAQ Page Styles ***/

.faq-question {
    border-bottom: 1px solid #cfcacb;
}

.faq {
    margin-top: 20px;
    margin-bottom: 150px;
}

.faq h1 {
    font-size: 1.3125em;
}

.faq h2 {
    font-size: 1em;
}

.faq p {
    font-size: .875em;
}

/***** Concerts Page Styles *****/

/***** News/Reviews Details Page Styles *****/

.detail-article .hero-area {
    border-bottom: none;
}

.detail-hero-img {
    margin-top: 15px;
}

.article-meta-info {
    font-size: .875em;
}

/*** Reviews ***/

.reviews {
    display: none;
}

.aside-writers {
    margin-bottom: 20px;
}

.article-header {
    background: none;
    text-align: left;
}

.article-header h1 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    margin-top: 20px;
}

ul.article-meta-info{
        list-style: none;
        padding: 0;
        width: 100%;
        height: 2em;
    }

        ul.article-meta-info li{
            display: inline;
            margin-bottom: 10px;
        }
    
        .article-author{
            padding-right: 10px;
            border-right: 1px solid;
            margin-right: 10px;
        }

.detail-article p {
    font-size: .875em;
}  

.detail-article .hero-area p {
    font-size: 1em;
}

.aside-detail {
    border-top: 1px solid #cfcacb;
    border-bottom: 1px solid #cfcacb;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
    /* Style adjustments for Tablet */

    /****** GRID STYLES ********/

.row {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

/***** Header Styles *****/

.main-header {
    width: 94%;
    margin: 0 3%;
}

nav {
    float: right;
}

nav ul li {
    border: none;
    display: inline;
    margin-right: 10px;
    padding: 0;
    line-height: 2;
    position:relative;
    top: 1.5em;
}

/***** Main Styles *****/

.hero-area {
    padding: 35px 0;
}

.hero-img {
    border: 2px solid #222;
    box-sizing: border-box;
    margin-top: 0;
}

.hero-area h1 {
    line-height: 1em;
    margin-top: 0;
}

.hero-area p {
    font-size: .875em;
    line-height: 1.5em;
}

.hero-info {
    padding-left: 20px;
}

/***** Aside Styles *****/

aside {
    float: right;
    padding-left: 2%;
    width: 40%;
}

.aside-newsletter {
    border-bottom: 1px solid #cfcacb;
}

.aside-concerts, .aside-faq {
    border-bottom: 1px solid #cfcacb;
    display: block;
    padding-bottom: 20px;
}


aside h1 {
    font-size: 1.3125em;
}

aside p {
    font-size: .875em;
}

/***** Feed Styles *****/

.feed {
    border-top: none;
    border-right: 1px solid #cfcacb;
    float: left;
    width: 60%;
}

.feed-item {
    padding-right: 5%;
}

.feed-item:nth-last-child(1) {
    border-bottom: none;
}

/***** Footer Styles *****/

footer {
    border-top: 1px solid #cfcacb;
    content: "";
    clear: both;
}

/****** DETAIL PAGES ******/

/***** About Page Styles *****/

.contact-info {
    margin-top: 50px;
    padding-bottom: 35px;
}

.contact-info h1 {
    margin-top: 0;
    padding-top: 0;
}

.mission-statement {
    border-top: 1px solid #cfcacb;
    border-bottom: 1px solid #cfcacb;
    padding: 20px 0;
}

.mission-statement h1 {
    padding-top: 0;
}

.team h1 {
    padding-top: 20px;
}

.team {
    padding-bottom: 250px;
}

/*** FAQ Page Styles ***/

.faq {
    margin-top: 50px;
    margin-bottom: 400px;
}

.faq h1 {
    font-size: 1.5em;
}

.faq h2 {
    font-size: 1.125em;
}

.faq p {
    font-size: .875em;
}

/***** Concerts Page Styles *****/



/***** News/Reviews Detail Page Styles *****/

.aside-newsletter {
    display: block;
}

.aside-writers {
    display: none;
}

.article-header h1 {
    margin-top: 0;
}

.detail-hero-img {
    margin-top: 0;
    margin-right: 20px;
}

.article-header h1 {
    font-size: 1.5em;
}

.aside-detail {
    border-bottom: none;
    float: none;
    margin-bottom: 400px;
    padding-left: 0;
    width: 100%;
}

.detail-article .hero-area {
    padding-bottom: 16px;
}

    } /*** Tablet Styles ***/

@media only screen and (min-width: 960px) {
    /* Style adjustments for Desktop */

    /****** GRID STYLES ********/

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

/***** Header Styles *****/



/***** Main Styles *****/

main {
    max-width: 1200px;
    margin: auto;
}

.hero-area {
    border-bottom: none;
    border-right: 1px solid #cfcacb;
    float: left;
    padding: 0;
    padding-right: 2%;
    margin-top: 35px;
    width: 66.66%;  
}

.hero-img {
    margin-bottom: 20px;
}

.hero-info {
    padding: 0;
    margin-bottom: 30px;
}

.hero-area h1 {
    font-size: 2.25em;
}

.hero-area p {
    font-size: 1em;
}

/***** Aside Styles *****/

aside {
    margin-top: 35px;
    width: 33.33%;
}

aside h1 {
    font-size: 1.875em;
    line-height: 1em;
    margin-bottom: 10px;
}

aside p {
    font-size: 1em;
    margin-top: 10px;
}

.aside-newsletter h1 {
    margin-top: 0;
}

.aside-faq {
    border-bottom: none;
}

/***** Feed Styles *****/

.feed {
    border-top: 1px solid #cfcacb;
    border-right: none;
    width: 100%;
}

.feed h1 {
    font-size: 1.1325em;
}

.feed h2 {
    font-size: 1.125em;
}

.feed h3 {
    font-size: .75em;
}

.feed p {
    display: block;
}

.feed figure {
    width: 20%;
}

/***** Footer Styles *****/


/****** DETAIL PAGES ******/

.detail-article .hero-area {
    border-right: none;
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;  
}

.detail-article {
    border-right: 1px solid #cfcacb;
    float: left;
    margin: 50px 0 400px;
    padding-right: 2%;
    width: 66.66%;
}

.detail-article figure {
    margin: 0 0 20px;
}

.aside-detail {
    border-top: none;
    float: right;
    margin-top: 50px;
    padding-left: 2%;
    width: 33.33%;
}

.article-meta-info {
    font-size: 1em;
}

.detail-article .hero-area p {
    font-size: 1.125em;
}

.detail-article p {
    font-size: 1em;
}

/***** About Page Styles *****/

.team p {
    display: block;
}

/***** Concerts Page Styles *****/



/***** News/Reviews Detail Page Styles *****/



    } /*** Desktop Styles ***/

@media only screen and (min-width: 1201px) {

.main-sections {
    width: 94%;
    margin: 0 3%;
}

.contact-info, .mission-statement, .team, .faq {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
